<section class="section-main bg padding-y mt-2">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li class="has-submenu"><a href="#">Products</a>
              <ul class="submenu">
                <%= render partial: "shared/category", locals: {zone: @categories} %>
              </ul>
            </li>
            <li>
              <%= link_to "Contributes", new_contribute_path %>
            </li>
            <li>
              <%= sort_link(@q, :created_at, t("ransack.sort_created_at"), default_order: :desc) %>
            </li>
            <li>
              <%= sort_link(@q, :name, t("ransack.sort_name")) %>
            </li>
            <li>
              <%= sort_link(@q, :price, t("ransack.sort_price")) %>
            </li>
            <li>
              <%= sort_link(@q, :quantity, t("ransack.sort_quantity")) %>
            </li>
            <li>
              <%= link_to  t("ransack.search"), "#", "data-toggle"=>"modal", "data-target"=>"#searchModal"%>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="col-md-9">
        <article class="banner-wrap">
          <%= image_tag("2.jpg", class: "banner-config") %>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t "ransack.search" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= search_form_for(@q, url: root_path, method: :get) do |f| %>
          <div class="field">
            <%= f.label :product_cont, t("ransack.name_or_des") %>
            <%= f.search_field :product_cont, class: "form-control"%>
          </div>
          <div class="field">
            <%= f.label :category_name_cont, t("ransack.category") %>
            <%= f.collection_select :category_name_cont, all_sub_menu, :name, :name, {:include_blank => "--Select category--"},{:class=>"form-control"}%>
          </div>
          <div class="field">
            <%= f.label :price, t("ransack.price") %>
            <div class="form-group price-search">
              <%= f.text_field :price_gteq, class: "form-control"%> -
              <%= f.text_field :price_lteq, class: "form-control"%>
            </div>
          </div>
          <div class="field">
            <%= f.label :created_at_eq, t("ransack.created_at") %>
            <%= f.date_field :created_at_eq, class: "form-control input-sm" %>
          </div>
          <div class="form-group">
          <%= f.submit t("ransack.search"), class: "btn btn-primary" %>
          <%= link_to t("ransack.clear"), request.path, class: "clear-link" %>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>

<section class="section-name padding-y-sm mt-5">
  <div class="container">
    <header class="section-heading">
      <div class="row">
        <div class="col-md-10">
          <h3 class="section-title">All products</h3>
        </div>
        <div class="col-md-2">
          <%= button_to  "Show all", home_path, method: "get", class: "btn btn-outline-primary config-showall" %>
        </div>
    </header>
    <div class="row">
      <%= render partial: "shared/product", collection: @products %>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-3">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
    <hr>
    <header class="section-heading">
      <h3 class="section-title">High ratings</h3>
    </header>
    <div class="row">
      <%= render partial: "shared/product", collection: @high_rating_product %>
    </div>
    <hr>
    <header class="section-heading">
      <h3 class="section-title">Recently products</h3>
    </header>
    <div class="row">
      <%= render partial: "shared/recent_product", collection: @recent_product %>
    </div>
  </div>
</section>
<script lang="javascript">var __vnp = {code : 10345,key:'', secret : '17cdd017a1dedb8b8639b9966c73930c'};(function() {var ga = document.createElement('script');ga.type = 'text/javascript';ga.async=true; ga.defer=true;ga.src = '//core.vchat.vn/code/tracking.js';var s = document.getElementsByTagName('script');s[0].parentNode.insertBefore(ga, s[0]);})();</script>
