<section class="section-main bg padding-y mt-2">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Home</a></li>
            <li class="has-submenu"><a href="#">Products</a>
              <ul class="submenu">
                <%= render partial: "shared/category", locals: {zone: @categories} %>
              </ul>
            </li>
            <li>
              <%= link_to "Hot Trends", home_path(rate: "DESC") %>
            </li>
            <li>
              <%= link_to "Contributes", new_contribute_path %>
            </li>
            <li class="has-submenu"><a href="#">Sort by</a>
              <ul class="submenu">
                <li>
                  <%= link_to "Price: Low-High", home_path(price: "ASC") %>
                </li>
                <li>
                  <%= link_to "Price: High-Low", home_path(price: "DESC") %>
                </li>
                <li>
                  <%= link_to "Rate: Low-High", home_path(rate: "ASC") %>
                </li>
                <li>
                  <%= link_to "Rate: High-Low", home_path(rate: "DESC") %>
                </li>
                <li>
                  <%= link_to "Name: A-Z", home_path(name: "ASC") %>
                </li>
                <li>
                  <%= link_to "Name: Z-A", home_path(name: "DESC") %>
                </li>
              </ul>
          </ul>
        </nav>
      </aside>
      <div class="col-md-9">
        <article class="banner-wrap">
          <%= image_tag("2.jpg", class: "banner-config") %>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section-name padding-y-sm mt-5">
  <div class="container">
    <header class="section-heading">
      <div class="row">
        <div class="col-md-10">
          <h3 class="section-title">Popular products</h3>
        </div>
        <div class="col-md-2">
          <%= button_to  "Show all", home_path, method: "get", class: "btn btn-outline-primary config-showall" %>
        </div>
    </header>
    <div class="row">
      <%= render partial: "shared/product", collection: @products %>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-3">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</section>
<script lang="javascript">var __vnp = {code : 10345,key:'', secret : '17cdd017a1dedb8b8639b9966c73930c'};(function() {var ga = document.createElement('script');ga.type = 'text/javascript';ga.async=true; ga.defer=true;ga.src = '//core.vchat.vn/code/tracking.js';var s = document.getElementsByTagName('script');s[0].parentNode.insertBefore(ga, s[0]);})();</script>
