<section class="section-main bg padding-y mt-2">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li><a href="#">Home</a></li>
            <li class="has-submenu"><a href="#">Products</a>
              <ul class="submenu">
                <%= render partial: "shared/category", collection: @categories %>
              </ul>
            </li>
            <li><a href="#">Hot trends</a></li>
            <li><a href="#">Best seller</a></li>
            <li><a href="#">Best rating</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">About Us</a></li>
            <li class="has-submenu"><a href="#">Sort by</a>
              <ul class="submenu">
                <li>
                  <%= link_to "Price: Low-High", static_pages_home_path(price: "ASC") %>
                </li>
                <li>
                  <%= link_to "Price: High-Low", static_pages_home_path(price: "DESC") %>
                </li>
                <li>
                  <%= link_to "Rate: Low-High", static_pages_home_path(rate: "ASC") %>
                </li>
                <li>
                  <%= link_to "Rate: High-Low", static_pages_home_path(rate: "DESC") %>
                </li>
                <li>
                  <%= link_to "Name: A-Z", static_pages_home_path(name: "ASC") %>
                </li>
                <li>
                  <%= link_to "Name: Z-A", static_pages_home_path(name: "DESC") %>
                </li>
              </ul>
          </ul>
        </nav>
      </aside>
      <div class="col-md-9">
        <article class="banner-wrap">
          <%= image_tag("2.jpg")%>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section-name padding-y-sm mt-5">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Popular products</h3>
    </header>
    <div class="row">
      <%= render partial: "shared/product", collection: @products %>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-md-3">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</section>
<script>


</script>
