<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <%= form_for :session, url: login_path do |f| %>
            <h3 class="text-center text-info"><%= t "sign_in" %></h3>
            <div class="form-group">
              <%= f.label :email, t("form.email") %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, t("form.password") %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit t("sign_in"), class: "btn btn-info" %>
            </div>
            <div id="register-link" class="text-right mt-2">
              <%= link_to t("form.register_here"), signup_path, class: "text-info" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
