<div class="card text-center">
  <div class="card-header">
    <%= @contribute.user.name %>
    (<%= @contribute.user.email %>)
  </div>
  <div class="card-body">
    <h5 class="card-title">Contribute</h5>
    <% if @contribute.image.attached? %>
      <%= image_tag @contribute.image, class: "img-contribute" %>
    <% end %>
    <p class="card-text"><%= @contribute.content %></p>
    <% if @contribute.status == "pending" %>
      <%= link_to  "Accept", admin_contribute_path(@contribute) , method: :put, class: "btn btn-primary"%>
    <% end %>
    <%= link_to  "Back", admin_contributes_path, class: "btn btn-danger"%>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>