<div id="signup">
  <div class="container">
    <div id="signup-row" class="row justify-content-center align-items-center">
      <div id="signup-column" class="col-md-6">
        <div id="signup-box" class="col-md-12">
          <%= form_for(@user, url: signup_path) do |f| %>
             <h3 class="text-center text-info"><%= t "sign_up" %></h3>
            <div class="form-group">
              <%= f.label :name,  t("form.name") %>
              <%= f.text_field :name, class: "form-control" %>
              <%= render "shared/name_errors"%>
            </div>
            <div class="form-group">
              <%= f.label :email, t("form.email") %>
              <%= f.email_field :email, class: "form-control" %>
              <%= render "shared/email_errors"%>
            </div>
            <div class="form-group">
              <%= f.label :password, t("form.password") %>
              <%= f.password_field :password, class: "form-control" %>
              <%= render "shared/password_errors"%>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, t("form.password_confirm") %>
              <%= f.password_field :password_confirmation, class: "form-control" %>
              <%= render "shared/password_confirm_errors"%>
            </div>
            <div class="form-group">
              <%= f.submit t("sign_up"), class: "btn btn-info" %>
            </div>
            <div id="register-link" class="text-right mt-2">
              <%= link_to t("form.login_here"), login_path, class: "text-info" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
