<% provide(:button_text, "Home") %>
<div class="row flex-lg-nowrap justify-content-end">
  <div class="col-3 col-lg-auto ml-5" style="width: 300px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item">
            <%= link_to user_order_path(@user) do %>
            <i class="fa fa-fw fa-th mr-1"></i>
              <span>
                <%= t("his_order") %>
              </span>
            <% end %>
          </li>
          <li class="nav-item mt-2">
            <%= link_to user_contributes_path(@user) do %>
            <i class="fa fa-fw fa-th mr-1"></i>
              <span>
                <%= t("his_contrbutes") %>
              </span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-9">
    <div class="row">
      <div class="col-md-7 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <% if @user.image.attached? %>
                      <%= image_tag(@user.display_image, class: "d-flex justify-content-center align-items-center rounded") %>
                    <% else %>
                      <%= image_tag(Settings.default_url, class: "d-flex justify-content-center align-items-center rounded") %>
                    <% end %>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><%= @user.name %></h4>
                    <p class="mb-0"><%= @user.email %></p>
                    <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                    <div class="mt-2">
                      <%= form_with model: @user, url: user_upload_path(@user), method: "patch" do |upload| %>
                        <%= upload.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
                        <% if @user %>
                          <div class="col-md-7 col-sm-7 col-xs-7 user-detail-section1 text-center">
                            <%= upload.submit t("upload_avt"),class: "btn btn-success btn-block follow" %>
                        </div>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
               </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <%= form_for @user do |f| %>
                  <%= render partial: "shared/error" , locals: {zone: @user}%>
                  <%= render partial: "shared/form_user" , locals: {f: f}%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3 mr-4">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <%= button_to home_path, method: "get", class:"btn btn-secondary mt-3" do %>
              <span class="mb-4">
                <%= t("Home") %>
              </span>
            <% end %>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <% if @address.present? %>
              <table>
                <tr>
                  <th>Address</th>
                  <th></th>
                  <th>Action</th>
                </tr>
                <% current_user.addresses.each do |add| %>
                  <tr>
                    <td class= "col-md-5">
                      <%= add.address_initial %>
                    </td>
                    <td>
                      <% if add.default==1 %>
                        <span>
                          <%= t("default_add")%>
                        </span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to edit_address_path(add) do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to address_path(add), method: :delete, data: { confirm: t("warning.delete")},
                        remote: true do %>
                        <i class="fas fa-trash"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
            <%= button_to new_address_path, method: :get,  class:"btn btn-primary mt-3" do %>
              <span class="mb-4">
                <%= t("info.new_add") %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
