<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0"><%= t("info.contribute") %><span style="color: #a8729a;"><%= current_user.name %></span></h5></h5>
          </div>
            <div class="order_config">
          <div class="card-body p-4">
            <% @contributes.each do |contribute| %>
            <div class="card shadow-0 border mb-4 mt-4">
              <div class="card-body">
                <div class="row justify-content-between">
                  <% if contribute.image.attached? %>
                  <div class="col-md-2">
                      <%= image_tag(contribute.image, class:"img-wrap") %>
                  </div>
                  <% end %>
                  <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0"> <%= contribute[:content] %></p>
                  </div>
                  <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0"><%= contribute[:created_at] %></p>
                  </div>
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
              </div>
            </div>
            <% end %>
          </div>
          </div>
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #a8729a;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                  text-align: right;">
          <div class="row justify-content-between">
            <div class="col-md-2">
              <%= button_to t("Home"), home_path, method: "get", form_class: "button-23", class: "form-control button_config"%>
            </div>
            <div class="col-md-6">
              <%= button_to t("back"), user_path(current_user), method: "get", form_class: "button-23", class: "form-control button_config"%>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
