<div class="container mt-5 px-5">
    <div class="mb-4">
        <h2>Vo Chi Hieu | #122222</h2> <span>Please make the payment, after that you can enjoy all the features and
            benefits.</span>
    </div>
    <div class="row">
        <div class="col-md-8">
            <%= form_for @order do |f| %>
                <%= f.hidden_field :status, value: "accept" %>
                    <div class="card p-3">
                        <div class="mt-4 mb-4">
                            <h6 class="text-uppercase mb-4">Billing Address</h6>
                            <%= f.collection_radio_buttons :address_id, @address, :id, :address_initial do |ff|%>
                                <div class="row mt-1">
                                    <div class="col-md-1">
                                        <%= ff.radio_button%>
                                    </div>
                                    <div class="col-md-11">
                                        <%= ff.label %>
                                    </div>
                                </div>
                            <% end %>
                            <div class="mt-4 mb-4">
                                <%= link_to new_address_path do %>
                                    <span class="mb-4">
                                        <%= t("info.new_add") %>
                                        <i class="fas fa-plus"></i>
                                    </span>
                                <% end %>
                            </div>
                        </div>
                        <h6 class="text-uppercase">Payment methods</h6>
                        <div class="row mt-4">
                            <div class="col-md-1">
                                <%= f.radio_button(:payment_id, "1" ) %>
                            </div>
                            <div class="col-md-8">
                                <%= image_tag("#{Settings.payment.cod}") %>
                                    <span style="margin-left: 10px;">
                                        <%= t("payment.cod") %>
                                    </span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-1">
                                <%= f.radio_button(:payment_id, "2" ) %>
                            </div>
                            <div class="col-md-8">
                                <%= image_tag("#{Settings.payment.momo}") %>
                                    <span style="margin-left: 10px;">
                                        <%= t("payment.momo") %>
                                    </span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-1">
                                <%= f.radio_button(:payment_id, "3" ) %>
                            </div>
                            <div class="col-md-8">
                                <%= image_tag("#{Settings.payment.internet_banking}") %>
                                    <span style="margin-left: 10px;">
                                        <%= t("payment.internet_banking") %>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-4 d-flex justify-content-between">
                        <div class="col-md-4">
                            <span>Continue Shopping</span>
                        </div>
                        <div class="col-md-4">
                            <%= f.submit "Checkout" , class: "btn btn-sm btn-primary" , style: "font-size: 18px;
                        font-weight: bold" %>
                        </div>
                    </div>
                    <% end %>
        </div>
        <div class="col-md-4">
            <% @products.each do |details| %>
                <div class="card card-blue p-3 text-white mb-3">
                    <table>
                        <tr>
                            <td>
                                <a href="#" class="img-wrap">
                                    <%= image_tag(details[:img]) %>
                                </a>
                            </td>
                            <td>
                                <ul style="list-style-type:none;">
                                    <li>
                                        <span>
                                            <%= details[:name] %>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            Amount: <%= details[:quantity] %>
                                        </span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul style="list-style-type:none;">
                                    <li>
                                        <span>
                                            <%= details[:price] %>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            VND
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <% end %>
                    <span>You have to pay</span>
                    <div class="d-flex flex-row align-items-end mb-3">
                        <h1 class="mb-0 yellow">
                            <%= @order.get_total %> VND
                        </h1>
                    </div>

        </div>
    </div>
