<li class="items odd">
  <div class="infoWrap"> 
	<input type="hidden" class="product-id" value="<%= item["product"]["id"] %>">
  	<div class="cartSection">
			<img src="<%= item["product"]["image"] %>" alt="" class="itemImg" />
			<h3><%=item["product"]["name"] %></h3>
			<input type="number" class="qty" value="<%= item["quantity"] %>", min="1", max="<%= item["product"]["quantity"] %>">
			x <%= item["product"]["price"] %>
  	</div>
		<div class="cartReview">
			<% 5.times do |n| %>
        <span class="fa fa-star review <%= item["rating"] >= n + 1 ? 'checked' : ''%>" value="<%= n+1 %>"></span>
      <% end %>
		</div>
  	<div class="prodTotal cartSection">
			<p><%= total_price(item) %></p>
   	</div>
    <div class="cartSection removeWrap">
			 <%= link_to  "x", remove_item_in_carts_path(id: item["product"]["id"]), class: "remove", method: :delete, data: {confirm: "Are you sure?"}%>
  	</div>
  </div>
</li>
<script>
	$('.qty').change(function () {
		var id = $(this).parent().parent().find(".product-id").val()
		var quantity = $(this).val();
		$.ajax({
			url: "/carts/update_cart/" + id,
			method: "PUT",
			data: {quantity: quantity}
		})
	})
	$('.review').click(function(){
		var id = $(this).parent().parent().find(".product-id").val()
		var rate = $(this)[0].getAttribute("value")
		var parent = $(this).parent()[0].children
		$.ajax({
			url: "/carts/update_rating/" + id,
			method: "PUT",
			data: {rating: rate}
		})
		for(let i = 0; i < parent.length; i++){
			if (i+1 > rate){
				parent[i].classList.remove("checked")
			}
			else parent[i].classList.add("checked")
		}
	})
</script>
