<div class="wrap cf">
  <div class="heading cf">
    <h1><%= t ".title" %></h1>
    <%= link_to  t(".back"), root_path, class: "continue" %>
  </div>
  <div class="cart">
    <ul class="cartWrap">
      <%= render :partial => "product", :collection => @carts, :as => :item %>
    </ul>
  </div>

  <div class="subtotal cf">
    <ul>
      <li class="totalRow final"><span class="label"><%= t ".total" %></span>
        <span class="value">
          <%= total_all_price %>
        </span>
      </li>
      <li class="totalRow">
        <%= link_to t(".checkout"), orders_path, class: "btn continue btn-checkout", method: :post %>
      </li>
    </ul>
  </div>
</div>
