<% @cate_child.each_with_index do |category, index| %>
  <tr>
    <td><%= new_index_page(params[:page]) + index %></td>
    <td><%= category.name %></td>
    <td><%= category.parent_id %></td>
    <td>
      <%= link_to edit_admin_category_path(category) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to admin_category_path(category), method: :delete, data: {confirm: t(".delete")} do %>
       <i class="far fa-trash-alt"></i>
      <% end %>
      </td>
  </tr>
<% end %>
