<table class="table table-bordered table-hover table-inverse">
  <thead class="thead-inverse|thead-default">
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".name" %></th>
      <th><%= t ".parent_id" %></th>
      <th class="col-md-2"><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render "category_child" %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
