<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div>
        <%= link_to image_tag("vietnam.png"), locale: :vi %>
        <%= link_to image_tag("england.png"), locale: :en %>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-2 col-4">
          <%= t("application.title") %>
        </div>
        <div class="col-lg-6 col-sm-12">
          <form action="#" class="search">
            <div class="input-group w-100">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 col-sm-6 col-12" style="text-align:end">
          <div class="widgets-wrap float-md-right">
            <div class="widget-header mr-3 shopping_card">
              <% if logged_in? %>
                <%= link_to raw("<i class='fa fa-shopping-cart'></i>"), carts_path, class: "icon icon-sm rounded-circle
                  border " %>
                <%= link_to user_path(current_user), class: "icon icon-sm rounded-circle border ml-3" do %>
                  <i class="fa fa-user"></i>
                <% end %>
              <% end %>
            </div>
            <div class="widget-header icontext mt-4">
              <div class="text">
                <span class="text-muted mr-4">
                  <%= t("Welcome") %>
                </span>
                <% if logged_in? %>
                  <div>
                    <%= link_to t("log_out"), logout_path, method: :delete %>
                  </div>
                  <% else %>
                    <div>
                      <%= link_to t("sign_in"), login_path %>
                        <%= link_to t("sign_up"), signup_path %>
                    </div>
                    <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
